.indicator__container {
  display: flex;
  margin-top: 2%;
  gap: 4%;
}

.strength-section {
  width: 60px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.empty {
  background: #808080;
}

.short {
  background: #ff0000;
  transition: 0.3s;
}

.weak:first-child {
  background-color: #ff0000;
  transition: 0.3s;
}
.short:not(:first-child),
.weak:not(:first-child) {
  background-color: #808080;
}

.strong {
  background: #04eb04;
  transition: 0.3s;
}

.middle:nth-child(-n + 2) {
  background: #fcfc13;
  transition: 0.3s;
}

.middle:nth-child(3) {
  background: #808080;
}
