.form__validation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.strength-section {
  width: 30px;
  height: 10px;
  margin-bottom: 10px;
}

.empty {
  background: #808080;
}

.short {
  background: #ff0000;
}
.short,.weak:first-child {
  background-color: #ff0000;
}
.short,.weak:not(:first-child) {
  background-color: #808080;
}

.strong {
  background: #008000;
}

.middle:nth-child(-n+2) {
  background: #ffff00;
}

.middle:nth-child(3) {
  background: #808080;
}
